@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
#root {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  margin: 0;
  padding: 0;
}

#view-3d {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #444;
}

#model-stats {
  position: absolute;
  top: 10px;
  left: 10px;
  pointer-events: none;
  z-index: 10;
  color: white;
}

@keyframes vibrate {
  0%,
  100% {
    transform: translateX(0);
  }
  20% {
    transform: translateY(-3px);
  }
  40% {
    transform: translateY(4px);
  }
  60% {
    transform: translateY(-1px);
  }
  80% {
    transform: translateY(5px);
  }
}

.vibrate-text {
  color: #dd574e;
  animation: vibrate 0.2s linear infinite;
}
